#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	CGO_ENABLED=0 go build -trimpath -ldflags '-s -w -X main.version=$$(dpkg-parsechangelog -SVersion)' -o bin/whatsappd ./cmd/whatsappd
	cmake -S desktop -B desktop/build -G Ninja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr
	cmake --build desktop/build

override_dh_auto_install:
	DESTDIR=$(CURDIR)/debian/whatsappgo cmake --install desktop/build
	install -Dm644 packaging/metainfo/org.whatsappgo.Desktop.metainfo.xml $(CURDIR)/debian/whatsappgo/usr/share/metainfo/org.whatsappgo.Desktop.metainfo.xml
